.contactss{
    min-height: 100vh;
    padding: 50px 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.contactss .contentss{
    max-width: 800px;
    text-align: center;
}
.contactss .contentss h2{
    font-size: 50px;
    font-weight: 500;
    color: #195c13;
}
.contactss .contentss p{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}
.containerss{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.containerss .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerss .contactInfo .boxes{
    /* position: relative; */
    padding: 20px 0;
    display: flex;
}
.containerss .contactInfo .boxes .iconss{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.containerss .contactInfo .boxes .text6{
display: flex;
margin-left: 20px;
font-size: 16px;
color: #195c13;
flex-direction: column;
font-weight: 300;
}
.containerss .contactInfo .boxes .text6 h3{
    font-weight: 500;
    color: #000000;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(255, 0, 0, 0.25),0 10px 10px rgba(238, 12, 12, 0.22);
}
.contactForm:hover{
    box-shadow: 0 1px 3px rgba(88, 15, 15, 0.25),0 10px 1 rgba(49, 47, 47, 0.22);
    transform: translateY(-5);
    cursor: pointer;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    /* position: relative; */
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none;
    resize: none;
}
.contactForm .inputBox span{
    /* position: absolute; */
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color:#000000 ;
    font-size: 12px;
    transform: translateY(-20px);
}
.scanfcode
{
  background-color:#000000;
  padding:10px;
  border:0px;
  color:#fff;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size:20px;
  margin:0px;
  /* position:relative; */
  text-transform:uppercase;
}
.scanfcode:before,
.scanfcode:after {
  border-color: #000000;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  height: 24px;
  position: absolute;
  width: 24px;
}
.scanfcode:before {
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.scanfcode:after {
  border-bottom-width: 2px;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}
.scanfcode:hover:before,
.scanfcode:hover:after
{
  height:100%;
  width:100%;
}
.txttt{
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 50px solid #000000;
    line-height: 1em;
}
.sci{
   /* position: relative; */
   display: flex;
   gap: 30px;
   margin: 20px 0; 
}
.sci li{
    list-style: none;
}
.sci li a{
    color: #fff;
    font-size: 1.5em;
    transition: 0.5s;
}
.sci li a:hover{
    color: #000000;
}


@media (max-width: 760px){
    .form-popup{
        width: 95%;
    }
    .form-box .form-details{
        display: none;
    }
    .form-box .form-content{
        padding: 30px 20px;
    }
}

@media (max-width : 991px){
    .contactss{
        padding: 50px;
    }
    .containerss{
        flex-direction: column;
    }
    .containerss .contactInfo{
        margin-bottom: 40px;
    }
    .containerss .contactInfo,
    .contactForm{
        width: 100%;
    }
} 